
#UNCOMMENT when set the real SMTP DATA 
#global:
  # SMTP sets
  #resolve_timeout: 5m

#  smtp_smarthost: '$SMTP_HOST'
#  smtp_from: '$SMTP_USER_FROM'
#  smtp_auth_username: '$SMTP_LOGIN'
#  smtp_auth_password_file: '/etc/alertmanager/secrets/smtp_password'
#  smtp_require_tls: true

route:
  # Send to
  receiver: 'all-notifications'
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h



receivers:
- name: 'all-notifications'
#===========email alerts===================
#UNCOMMENT when set the real SMTP DATA 
#  email_configs:
#  - to: '$ALERT_EMAIL_TO'
    # You can customize the title and text of the letter (optional)
#    send_resolved: true
#    headers:
#      subject: '[Alert] {{ .Status | ToUpper }} - {{ .GroupLabels.alertname }}'

#=====telegramm alerts======
  telegram_configs:
  - bot_token_file: '/etc/alertmanager/secrets/telegram_token'
    chat_id: ${TELEGRAM_CHAT_ID}
    parse_mode: 'HTML'
    send_resolved: true
    message: |
      {{ if eq .Status "firing" }}🔥 <b>CRITICAL</b> 🔥{{ else }}✅ <b>REPARED</b> ✅{{ end }}
      
      <b>Alert:</b> {{ .CommonLabels.alertname }}
      <b>Object:</b> {{ .CommonLabels.instance }}
      <b>Level:</b> {{ .CommonLabels.severity }}
      
      <b>Description:</b> 
      {{ range .Alerts }}{{ .Annotations.description }}
      {{ end }}
      <b>Begin:</b> {{ (index .Alerts 0).StartsAt.Format "15:04:05 02-01-2006" }}